@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {

    .home-title {
        @apply text-[2.5vw] font-semibold text-white bg-primary-500 mt-6 w-[25vw] pl-4;
        background: linear-gradient(30deg, #c41afd, #94dcf6);
        border-top-right-radius: 30px;
    }

    .p-datatable-wrapper {

        .p-datatable-thead {

            th {
                @apply bg-white text-primary-800;
            }

            .p-column-header-content {
                @apply justify-center items-center;
            }
        }

        .p-datatable-tbody {
            td {
                @apply text-center;

                .icon-container {
                    @apply flex justify-center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    .icon {
                        border-radius: 50%;
                        background-color: #dca6ee;
                        color: white;
                        padding: 5px;
                    }
                }
            }
        }
    }
}