.bg-gradinat-primary-lr {
    background: linear-gradient(335deg, $primary-500, $primary-800);
    transition: 400ms;
}

.bg-gradinat-secondary-lr {
    background: linear-gradient(335deg, $secondary-500, $secondary-600);
}

.hover-bg-gradinat-secondary-lr {
    &:hover{
        background: linear-gradient(335deg, $secondary-500, $secondary-600);
    }
}