@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Golos Text', sans-serif;
}

body {
    margin: 0;
}

$primary-100: #fcc6ff;
$primary-500: #f301fe;
$primary-800: #c41afd;
$primary-900: #971EBF;
$primary-1000: #34113f;

$secondary-500: #94dcf6;
$secondary-600: #7ABFD8;